$colorBright: #f21937;
$colorLight: #f9f9ea;
$colorDark: #111111;
$colorBrightLight: #c28f2c;

.login-page-box {
    width: 100%;
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Jura', sans-serif;
    position: relative;

    .registration-link {
        height: 30px;
        position: absolute;
        top: 20px;
        right: 35px;
        background-color: $colorDark;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px 2px;
        text-align: center;
        letter-spacing: 1px;
        text-decoration: none;
        color: $colorLight;
        font-size: 16px;
        font-weight: 900;
        -webkit-transition: all ease-in-out .3s;
        -moz-transition: all ease-in-out .3s;
        -ms-transition: all ease-in-out .3s;
        -o-transition: all ease-in-out .3s;
        transition: all ease-in-out .3s;

        &::after {
            content: '';
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            right: -15px;
            border-bottom: 15px solid transparent;
            border-top: 15px solid transparent;
            border-left: 15px solid $colorDark;
            -webkit-transition: all ease-in-out .3s;
            -moz-transition: all ease-in-out .3s;
            -ms-transition: all ease-in-out .3s;
            -o-transition: all ease-in-out .3s;
            transition: all ease-in-out .3s;
        }

        &:hover {
            background-color: $colorBright;

            &::after {
                border-left-color: $colorBright;
            }
        }
    }

    .login-box {
        width: 500px;
        background-color: $colorLight;
        border-radius: 5px;
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .75);
        -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .75);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .75);

        .login-form-box {
            padding: 20px;
            border: 2px solid $colorBright;
            border-top: none;

            .login-form {
                width: 100%;

                .login-form-field {
                    width: 100%;
                    margin-bottom: 15px;

                    .login-form-field-label {
                        color: $colorDark;
                    }

                    .login-form-field-error {
                        font-size: 14px;
                        padding: 2px;
                        font-weight: 600;
                    }
                }

                .login-form-submit-btn {
                    margin: 15px 0 10px;
                    font-family: 'Jura', sans-serif;
                    font-size: 16px;
                    letter-spacing: 1px;
                    font-weight: 900;
                    background-color: $colorDark;
                    color: $colorLight;
                    width: 100%;

                    &:disabled {
                        opacity: .3;
                    }
                }
            }
        }
    }
}



