<div class="global-footer-wrapper">
    <div class="g-f-header">{{ 'OUR_ASSOCIATES' | translate }}</div>
    <div class="g-f-associates">
        <a class="g-f-a-hedgehog g-f-a" href="https://hedgehog-company-project.firebaseapp.com/" target="_blank"
           #hedgehogWrapper>
            <div class="g-f-a-h-img g-f-a-img">
                <img src="/assets/images/hedgehog_colored.png" #hedgehogImage>
            </div>
            <div class="g-f-a-h-name g-f-a-name">HEDGEHOG<br><span class="colored-letter">I</span>N<span
                    class="colored-letter">T</span>ELLIGENCE
            </div>
        </a>
        <a class="g-f-a-mobi g-f-a" href="https://linktr.ee/mobiprime" target="_blank"
           #mobiWrapper>
            <div class="g-f-a-m-img g-f-a-img">
                <img src="/assets/images/mobi_prime.png" #mobiImage>
            </div>
        </a>
    </div>
    <div class="g-f-header">{{ 'FOLLOW_US' | translate }}</div>
    <div class="g-f-social">
        <a target="_blank" mat-button class="g-f-social-btn">
            <fa-icon [icon]="logoFacebook"></fa-icon>
        </a>
        <a href="https://twitter.com/CyberVVe" target="_blank" mat-button class="g-f-social-btn">
            <fa-icon [icon]="logoTwitter"></fa-icon>
        </a>
        <a target="_blank" mat-button class="g-f-social-btn">
            <fa-icon [icon]="logoLinkedIn"></fa-icon>
        </a>
        <a href="https://www.youtube.com/channel/UCw9a4ohAwW-vF3Fqk6onn8Q" target="_blank" mat-button
           class="g-f-social-btn">
            <fa-icon [icon]="logoYoutube"></fa-icon>
        </a>
        <a target="_blank" mat-button class="g-f-social-btn">
            <fa-icon [icon]="logoTwitch"></fa-icon>
        </a>
        <a target="_blank" mat-button class="g-f-social-btn">
            <fa-icon [icon]="logoDiscord"></fa-icon>
        </a>
        <a href="mailto:cyberwe.ua@gmail.com" target="_blank" mat-button class="g-f-social-btn">
            <fa-icon [icon]="mailLogo"></fa-icon>
        </a>
    </div>
</div>
