<div class="global-footer-wrapper">
    <div class="g-f-header">{{ 'OUR_ASSOCIATES' | translate }}</div>
    <div class="g-f-associates">
        <a class="g-f-a-hedgehog" href="https://hedgehog-company-project.firebaseapp.com/" target="_blank"
           #hedgehogWrapper>
            <div class="g-f-a-h-img">
                <img src="/assets/images/hedgehog_white.png" #hedgehogImage>
            </div>
            <div class="g-f-a-h-name">HEDGEHOG<br><span class="colored-letter">I</span>N<span
                    class="colored-letter">T</span>ELLIGENCE
            </div>
        </a>
    </div>
    <div class="g-f-header">{{ 'FOLLOW_US' | translate }}</div>
    <div class="g-f-social">
        <button mat-button class="g-f-social-btn">
            <fa-icon [icon]="logoFacebook"></fa-icon>
        </button>
        <button mat-button class="g-f-social-btn">
            <fa-icon [icon]="logoTwitter"></fa-icon>
        </button>
        <button mat-button class="g-f-social-btn">
            <fa-icon [icon]="logoLinkedIn"></fa-icon>
        </button>
        <button mat-button class="g-f-social-btn">
            <fa-icon [icon]="logoYoutube"></fa-icon>
        </button>
        <button mat-button class="g-f-social-btn">
            <fa-icon [icon]="logoTwitch"></fa-icon>
        </button>
        <button mat-button class="g-f-social-btn">
            <fa-icon [icon]="logoDiscord"></fa-icon>
        </button>
        <button mat-button class="g-f-social-btn">
            <fa-icon [icon]="telegramLogo"></fa-icon>
        </button>
    </div>
</div>
