<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sideNav role="navigation" class="side-menu">
        <app-nav-sidebar (sideNavClose)="sideNav.close();"></app-nav-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-nav-header (sideNavToggle)="sideNav.toggle();"></app-nav-header>
        <div class="global-wrapper">
            <main>
                <router-outlet></router-outlet>
            </main>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>
