//mat-sidenav-container,
//mat-sidenav-content,
//mat-sidenav
//{
//    height: 100%;
//}
.sidenav-container {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
}
.side-menu {
    //width: 100%;
    background-color: black;
}
.global-wrapper {
    display: flex;
    align-content: stretch;
    height: calc(100vh - 64px);
}
