$colorBright: #62af82;
$colorLight: #ffffff;
$colorDark: #131418;

::ng-deep {

    .clr-accordion-inner-content {
        background-color: $colorBright;
        border: none;
    }
    .clr-accordion-content {
        border: none;
    }
    .clr-accordion-panel:last-child {
        border: none;
    }
    .clr-accordion-header {
        background-color: $colorBright;
        border: none;
    }
    .clr-accordion-header:hover {
        background-color: $colorBright;
    }
    .clr-accordion-header:focus {
        outline: none;
    }
    .clr-accordion-header-button {
        color: $colorLight;
    }
    .clr-accordion-header-button:focus {
        outline: none;
        color: $colorDark;
    }
    .clr-accordion-panel:last-child .clr-accordion-content, .clr-accordion-panel:last-child .clr-accordion-header {
        border: none;
    }
    .clr-accordion:not(.clr-stepper-forms) .clr-accordion-panel:last-child .clr-accordion-header,
    .clr-accordion:not(.clr-stepper-forms) .clr-accordion-panel:first-child .clr-accordion-header {
        border-radius: 0;
    }
    .clr-accordion-panel-open .clr-accordion-header {
        background-color: $colorLight;
    }
    .clr-accordion-panel-open .clr-accordion-header-button {
        color: $colorDark;
    }
}

.vertical-nav {
    width: 200px;
    height: 100%;
    background-color: $colorBright;

    .vertical-nav-accordion {

        .vertical-nav-accordion-panel {


            .vertical-nav-block-title {


            }

            .vertical-nav-block-title:focus {
                box-shadow: none;
            }

            .vertical-nav-block {
                width: 100%;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;

                .vertical-nav-item {
                    width: 100%;
                }
            }
        }
    }
}

