<div class="sidenav-box">
    <button mat-icon-button class="sidenav-menu-icon" (click)="onSideNavClose();">
        <svg xmlns="http://www.w3.org/2000/svg" width="26px" height="26px" viewBox="0 0 24 24">
            <g fill='#f9f9ea'>
                <path d="M19 14H5c-1.1 0-2-.9-2-2s.9-2 2-2h14c1.1 0 2 .9 2 2s-.9 2-2 2zM19 7H5c-1.1 0-2-.9-2-2s.9-2 2-2h14c1.1 0 2 .9 2 2s-.9 2-2 2zM19 21H5c-1.1 0-2-.9-2-2s.9-2 2-2h14c1.1 0 2 .9 2 2s-.9 2-2 2z"></path>
            </g>
        </svg>
    </button>
    <a class="sidenav-title-link" routerLink="home" (click)="onSideNavClose();">
        <div class="sidenav-global-title">Cyber<span>We</span></div>
    </a>
</div>
<mat-nav-list class="global-mat-nav-list">
    <a mat-list-item class="global-mat-list-item" routerLink="home" [routerLinkActive]="'active-sidebar-link'"
       [routerLinkActiveOptions]="{exact:true}" (click)="onSideNavClose();" tabindex="-1">{{ 'HOME' | translate }}</a>
    <a mat-list-item class="global-mat-list-item" routerLink="news" [routerLinkActive]="'active-sidebar-link'"
       [routerLinkActiveOptions]="{exact:true}" (click)="onSideNavClose();" tabindex="-1">{{ 'NEWS' | translate }}</a>
    <a mat-list-item class="global-mat-list-item" routerLink="reviews" [routerLinkActive]="'active-sidebar-link'"
       (click)="onSideNavClose();" tabindex="-1">{{ 'REVIEWS' | translate}}</a>
    <a mat-list-item class="global-mat-list-item" routerLink="tournaments" [routerLinkActive]="'active-sidebar-link'"
       (click)="onSideNavClose();" tabindex="-1">{{ 'TOURNAMENTS' | translate}}</a>
    <a mat-list-item class="global-mat-list-item" routerLink="technologies" [routerLinkActive]="'active-sidebar-link'"
       (click)="onSideNavClose();" tabindex="-1">{{ 'TECHNOLOGIES' | translate}}</a>
    <a mat-list-item class="global-mat-list-item" routerLink="dashboard" [routerLinkActive]="'active-sidebar-link'"
       (click)="onSideNavClose();" tabindex="-1">{{ 'DASHBOARD' | translate}}</a>
    <a mat-list-item class="global-mat-list-item" routerLink="login" [routerLinkActive]="'active-sidebar-link'"
       (click)="onSideNavClose();" tabindex="-1">{{ 'LOG_IN' | translate}}</a>
</mat-nav-list>
