<mat-nav-list class="global-mat-nav-list">
    <a mat-list-item class="global-mat-list-item" routerLink="home" [routerLinkActive]="'activeRoute1'"
       [routerLinkActiveOptions]="{exact:true}" (click)="onSideNavClose();" tabindex="-1">{{ 'NEWS' | translate }}</a>
    <a mat-list-item class="global-mat-list-item" routerLink="news" [routerLinkActive]="'activeRoute1'"
       (click)="onSideNavClose();" tabindex="-1">{{ 'REVIEWS' | translate}}</a>
    <a mat-list-item class="global-mat-list-item" routerLink="tournaments" [routerLinkActive]="'activeRoute1'"
       (click)="onSideNavClose();" tabindex="-1">{{ 'TOURNAMENTS' | translate}}</a>
    <a mat-list-item class="global-mat-list-item" routerLink="technologies" [routerLinkActive]="'activeRoute1'"
       (click)="onSideNavClose();" tabindex="-1">{{ 'TECHNOLOGIES' | translate}}</a>
    <a mat-list-item class="global-mat-list-item" routerLink="dashboard/overall" [routerLinkActive]="'activeRoute1'"
       (click)="onSideNavClose();" tabindex="-1">{{ 'DASHBOARD' | translate}}</a>
</mat-nav-list>
