$colorBright: #f21937;
$colorLight: #f9f9ea;
$colorDark: #111111;
$colorBrightLight: #c28f2c;

.sidenav-box {
    width: 100%;
    height: 80px;
    position: relative;

    .sidenav-menu-icon {
        position: absolute;
        left: 10px;
        top: 22px;
    }

    .sidenav-global-title {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $colorLight;
        font-family: 'Jura', sans-serif;
        font-size: 32px;
        font-weight: 900;
        margin-left: 10px;

        span {
            color: $colorBright;
            font-style: italic;
            font-family: 'Lobster', sans-serif;
            font-weight: 900;
        }
    }
}

.global-mat-nav-list {

    .global-mat-list-item {
        color: $colorBrightLight;
        font-family: 'Jura', sans-serif;
        font-weight: 900;
        font-size: 18px;
    }
}
