$colorBright: #f21937;
$colorLight: #f9f9ea;
$colorDark: #111111;
$colorBrightLight: #c28f2c;

html, body {
    margin: 0;
    padding: 0;
    //height: 100%;
}

.ui-carousel .ui-carousel-dots-container .ui-carousel-dot-item > .ui-button {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
.ui-carousel .ui-carousel-dots-container .ui-carousel-dot-item.ui-state-highlight .ui-carousel-dot-icon {
    background-color: $colorBright !important;
}
.ui-carousel .ui-carousel-dots-container .ui-carousel-dot-item .ui-carousel-dot-icon {
    background-color: $colorDark !important;
}
.ui-carousel .ui-carousel-content .ui-carousel-next,
.ui-carousel .ui-carousel-content .ui-carousel-prev {
    background-color: $colorDark !important;
    color: $colorBrightLight !important;
    box-shadow: none !important;
}

.mat-form-field-wrapper {
    font-family: 'Jura', sans-serif;
}

.mat-form-field-flex {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
    color: $colorDark;
}

.mat-form-field-label {
    color: $colorDark;
}
.mat-option-text,
.mat-select-value {
    font-family: 'Jura', sans-serif;
    font-weight: 900;
}
.mat-calendar {
    background-color: $colorLight;
    font-family: 'Jura', sans-serif;
}
.mat-calendar-body-cell-content,
.mat-calendar-body-label {
    color: #000000;
    font-weight: 900;
}
.mat-calendar-table-header {
    th {
        font-size: 16px;
        color: #000000;
        font-weight: 900;
    }
}
.mat-calendar-period-button {
    font-family: 'Jura', sans-serif;
    color: #000000;
    font-weight: 900;
}
.mat-calendar-body-selected {
    background-color: $colorBright;
    color: $colorLight;
}
.mat-calendar-body-today:not(.mat-calendar-body-selected) {
    border-color: $colorBright;
}
.mat-datepicker-toggle-active {
    color: $colorBright;
}
.mat-datepicker-toggle {
    color: $colorDark;
}
.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
    width: 50px;
    font-size: 22px;
}
.mat-form-field-suffix .mat-icon-button:focus {
    background-color: $colorLight;
    outline: none;
}
.mat-menu-content:not(:empty) {
    padding: 0 !important;
}
.header-dropdown-menu:not(:empty) {
    background-color: $colorDark;
    border-radius: 0;

    .header-dropdown-item {
        color: $colorLight;
        font-family: 'Jura', sans-serif;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 1px;
    }
}
.grid-stack > .grid-stack-item > .grid-stack-item-content {
    position: relative !important;
    left: 0 !important;
    right: 0 !important;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
