$colorBright: #f21937;
$colorLight: #f9f9ea;
$colorDark: #111111;
$colorBrightLight: #c28f2c;

html, body {
    margin: 0;
    padding: 0;
    //height: 100%;
}

.ui-carousel .ui-carousel-dots-container .ui-carousel-dot-item > .ui-button {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}
.ui-carousel .ui-carousel-dots-container .ui-carousel-dot-item.ui-state-highlight .ui-carousel-dot-icon {
    background-color: $colorBright !important;
}
.ui-carousel .ui-carousel-dots-container .ui-carousel-dot-item .ui-carousel-dot-icon {
    background-color: $colorDark !important;
}
.ui-carousel .ui-carousel-content .ui-carousel-next,
.ui-carousel .ui-carousel-content .ui-carousel-prev {
    background-color: $colorDark !important;
    color: $colorBrightLight !important;
    box-shadow: none !important;
}
