<div class="dashboard-overall-wrapper">
    <div lb-gridstack
         class="gridstack-container"
         [width]="gridWidth"
         [height]="gridHeight"
         *ngIf="isDashboardWidgetSettingsLoaded"
         (change)="onGridChange($event)">

        <div lb-gridstack-item
             class="gridstack-item"
             [no-move]="noMove"
             [no-resize]="noResize"
             *ngFor="let widget of widgetSettings"
             [x]="widget.x"
             [y]="widget.y"
             [width]="widget.width"
             [height]="widget.height"
             [id]="widget.id">

        </div>
    </div>
</div>


